@import '../../scss/variables';

.MuiCard-root {
  .MuiSvgIcon-root {
    color: $color-secondary;
    position: relative;
    top: 8px;
    margin-right: 10px;
  }

  .MuiFormControl-root, .MuiInputBase-root {
    width: 100% !important;
    margin-bottom: 30px;

    input {
      background: $color-grey;
      &:focus {
        background: #fff;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .create-a-quote {
    color: #fff;
    width: 100%;
    height: 56px;
    border-radius: 28px;
    text-transform: none;
    font-size: 1.1rem;
  }
}
